pillow==12.1.1
scipy==1.16.3
transformers==5.3.0
accelerate==1.13.0
bitsandbytes==0.49.2
peft==0.18.1
trl==0.29.0
einops==0.8.1
huggingface_hub==1.6.0
opencv-python==4.11.0.86
setuptools==80.10.2
triton-windows==3.5.1.post22 
pycocotools==2.0.11
matplotlib==3.10.8